:root {
    --yellow: #f3b721;
    --black: #17171A;
    --white: #FAF8F7;
    --black_opacity: #17171ac4;
}

body {
    background: var(--black);
    overflow-x: hidden;
}

h1, h2, h3, a, p, li, label, h4, h5, h6, input, span, div {
    font-family: 'Roboto', sans-serif;
}

.dropShadow {
    filter: drop-shadow(-6px 18px 6px #000);
}

.upperCase {
    text-transform: uppercase;
}

/*Roboto font styling*/

header {
    height: 0;
    margin: 0;
    position: fixed;
    z-index: 9999;
    
}

.active {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 998;
    bottom: 0;
    right: 0;
}

nav ul li a, .results_container h3{
    text-decoration: none;
    color: var(--yellow);
    font-size: 2em;
}

nav img {
    height: 50px;
    width: 50px;
    position: fixed;
    z-index: 999;
    margin: 2em 1em;
    right: 0;
    top: 0;
    pointer-events: all;
}


nav {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    z-index: 998;
    backdrop-filter: blur(0rem);
    -webkit-backdrop-filter: blur(0rem);
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    
}

header ul li {
    margin: 2em 0;
}

nav ul li a:hover {
    color: var(--white);
}


header ul {
    opacity: -20;
    transform: translateX(-100vw);
    transition: all 0.5s ease-in-out;
}

.active nav {
    background: var(--black_opacity);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    transition: all 0.5s ease-in-out;
    pointer-events: all;
}

.active ul  {
    opacity: 100;
    transform: translateX(0vw);
    transition: all 0.5s ease-in-out;
}

header .underlines {
    pointer-events: all;
}

.container {
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    visibility: hidden;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.5rem);
}

.flex {
    display: flex;
}

.chords .flex {
    transform: translateY(-40PX) translateX(-40PX);
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
}

.circle {
    background: black;
    border-radius: 50%;
    position: relative;
    animation: circle1 0.5s linear infinite alternate;
    animation-timing-function: cubic-bezier(.53,.93,.52,1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle1 {
    background: rgb(255, 255, 255);
    border-radius: 50%;
    position: relative;
    opacity: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: circle2 0.5s linear infinite alternate;
    animation-timing-function: cubic-bezier(.53,.93,.52,1);
}

.inner-circle2 {
    background: black;
    border-radius: 50%;
    position: relative;
    opacity: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: circle3 0.5s ease infinite alternate;
}

.preload {
    width: 40px;
    height: 40px;
    position: relative;
}

.shadow {
    width: 120px;
    height: 40px;
    background: gray;
    border-radius: 50%;
    transform: perspective(40px);
    position: absolute;
    top: 40px;
    left: -40px;
    animation: shadow1 0.5s linear infinite alternate;
    animation-timing-function: cubic-bezier(.53,.93,.52,1);
}

@keyframes circle1 {
    0% {height: 0px;
    width: 0px;}
    100% {
        height: 120px;
        width: 120px;
    }
}

@keyframes circle2 {
    0% {
        height: 0px;
        width: 0px;
        opacity: 0%;
    }

    10% {
        opacity: 0%;
    }

    100% {
        height: 110px;
        width: 110px;
        opacity: 100%;
    }
}

@keyframes circle3 {
    0% {
        height: 0px;
        width: 0px;
        opacity: 0%;
    }

    25% {
        opacity: 0%;
        height: 20px;
        width: 20px;
    }


    40% {
        opacity: 100%;
        transform: translateX(0px);
    }

    60% {
        transform: translateX(30px);
        height: 40px;
        width: 40px;
    }

    100% {
        opacity: 100%;
        transform: translateX(-30px);
        height: 40px;
        width: 40px;
    }
}

@keyframes shadow1 {
    0% {
        opacity: 0%;
        top: 35px;
        height: 0px;
        width: 0px;
        left: 20px;
    }

    20% {
        opacity: 40%;
    }

    100% {
        opacity: 100%;
        top: 90px;
    }
}


.side_nav {
    background: var(--white_opacity);
    position: absolute;
    top: 0;
    right: -58vw;
    width: 19vw;
    height: 100vh;
    z-index: 999;
}

.underlines {
    filter: drop-shadow(5px 3px 8px #000);
    position: fixed;
    z-index: 9999;
    top: calc(50% - 40px);
    right: 1.825em;
    cursor: pointer;
    mix-blend-mode: difference;
}


#line__top, #line__bottom {
    stroke: var(--yellow);

}

.active #line__top {
    animation: rotateX 0.5s ease-in-out forwards;
}


.active #line__bottom  {
    animation: rotateX__reverse 0.5s ease-in-out forwards;
}

@keyframes rotateX {
    0% {
        transform: rotate(0);
        transform-origin: 0;
        scale: 1;
        stroke: var(--yellow);
    }
    100%{
        transform: rotate(-45deg);
        transform-origin: 20% 40%;
        scale: 1.2;
        stroke: var(--white);
    }
}

@keyframes rotateX__reverse {
    0% {
        transform: rotate(0);
        transform-origin: 0;
        scale: 1;
        stroke: var(--yellow);
    }
    100%{
        transform: rotate(45deg);
        transform-origin: 30% -30%;
        scale: 1.2;
        stroke: var(--white);
    }
}

.reverse__menu__underscore--animation--x  {
    animation: reverse__rotateX__reverse 0.5s ease-in-out forwards;
}

.reverse__menu__underscore--animation--rx  {
    animation: reverse__rotateX 0.5s ease-in-out forwards;
}

@keyframes reverse__rotateX {
    0% {
        transform: rotate(45deg);
        transform-origin: 30% -30%;
        scale: 1.2;
        stroke: var(--white);
    }

    100% {
        transform: rotate(0);
        transform-origin: 0;
        scale: 1;
        stroke: var(--yellow);
        
    }
}

@keyframes reverse__rotateX__reverse {
    0%{
        transform: rotate(-45deg);
        transform-origin: 20% 40%;
        scale: 1.2;
        stroke: var(--white);
    }
    100% {
        transform: rotate(0);
        transform-origin: 0;
        scale: 1;
        stroke: var(--yellow);
    }
}

/*Page Content*/

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chords_position {
    height: 45vh;
    padding: 20vh 0 10vh 0;
}

.chords_position h1, .chords_position label, .chords_position div {
    margin: 1em;
}

.chords_position h1, .chords_position label, .chords_position h2, .strings p, .frettNum, .inputs div {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
}

.chords_position h1 {
    font-size: 2em;
    text-transform: uppercase;
}

.chords_position h1, .chords_position label {
    color: var(--yellow);
}

.chords_position h2 {
    margin: 1em;
}

.chords_position .frame_container {
    min-height: 310px;
    min-width: 320px;
    max-height: 310px;
    max-width: 320px;
    border: 3px solid var(--yellow);
    border-radius: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--yellow);
    flex-direction: column;
    position: relative;
}

.chords_position input {
    background: none;
    border: none;
    border-bottom: 3px solid var(--yellow);
    border-left: 5px solid var(--yellow);
    color: var(--white);
}

.chords_position input:focus {
    border: none;
    border-bottom: 3px solid var(--white);
    border-left: 5px solid var(--white);
    transition: all 0.5s ease;
}

.chords_position-text {
    font-size: calc(15vh + 4em);
    position: absolute;
        visibility: hidden;
}


.chords_position img {
    scale: 0.8;
}

.chordFingerPosition {
    position: absolute;
    height: 15px;
    width: 15px;
    background: var(--yellow);
    border-radius: 50%;
    z-index: 9;
    transform: translate(-30px, -55px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.scale {
    background: url('../images/Asset_3.svg');
    height: 50%;
    width: 80%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

.strings {
    position: absolute;
    z-index: 22;
    left: -0.5em;
    top: 3.2em;
}
.strings p {
    margin: 0.3em;
}

.frettNum {
    position: absolute;
    z-index: 99;
    top: 2.6em;
    left: 2em;
}


/*the guitar rows*/
/*row 1*/
.cfp-25, .cfp-20, .cfp-15, .cfp-10, .cfp-5, .cfp-0 {
    left: 1.8em;
}

/*row 2*/
.cfp-26, .cfp-21, .cfp-16, .cfp-11, .cfp-6, .cfp-1 {
    left: 4.5em;
}

/*row 3*/
.cfp-27, .cfp-22, .cfp-17, .cfp-12, .cfp-7, .cfp-2 {
    left: 7.3em;
}

/*row 4*/
.cfp-28, .cfp-23, .cfp-18, .cfp-13, .cfp-8, .cfp-3 {
    left: 10.5em;
}


/*row 5*/
.cfp-29, .cfp-24, .cfp-19, .cfp-14, .cfp-9, .cfp-4 {
    left: 13.7em;
}



/*the guitar strings*/

/*Low E string*/
.cfp-25, .cfp-26, .cfp-27, .cfp-28, .cfp-29 {
    top: 9.9em;
}

/*A string*/
.cfp-24, .cfp-23, .cfp-22, .cfp-21, .cfp-20 {
    top: 8.6em;
}

/*D string*/
.cfp-19, .cfp-18, .cfp-17, .cfp-16, .cfp-15 {
    top: 7.4em;
}

/*G string*/
.cfp-14, .cfp-13, .cfp-12, .cfp-11, .cfp-10 {
    top: 6.1em;
}

/*B string*/
.cfp-9, .cfp-8, .cfp-7, .cfp-6, .cfp-5 {
    top: 4.8em;
}

/*high E string*/
.cfp-4, .cfp-3, .cfp-2, .cfp-1, .cfp-0 {
    top: 3.65em;
}

.inputs div {
    padding: 1em 2em;
    text-align: center;
    background: #464444;
    margin: 2em;
    border-radius: 0.5em;
    cursor: pointer;
}

.inputs div:hover {
    background: var(--yellow);
    color: var(--black);
    transition: all 0.5s ease;
}

.results_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    color: var(--white);
    transition: all 0.5s ease-in-out;
}

.results_container p {
    color: var(--white);
    margin: 1em 0;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.results_container p:hover {
    color: var(--yellow);
    transition: all 0.5s ease;
}

footer {
    color: var(--yellow);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100vw;
    text-align: center;
}


@media screen and (max-height: 930px) {
    .results_container h3 {
        margin-top: 3em;
    }

}


@media screen and (max-height: 800px) {
    .results_container h3 {
        margin-top: 6em;
    }
    .chords_position h1 {
        padding-top: 6em;
    }
    .chords_position {
        padding: 20vh 0 14vh 0;
    }
}


@media screen and (max-height: 570px) {
    .results_container h3 {
        margin-top: 8em;
    }
    .chords_position h1 {
        padding-top: 8em;
    }
}